#0 
{
    height: 50px;
    width: 50px;
}

#1 
{
    height: 50px;
    width: 50px;
}

#2 
{
    height: 50px;
    width: 50px;
}

#3 
{
    height: 50px;
    width: 50px;
}

#4
{
    height: 50px;
    width: 50px;
}

#5
{
    height: 50px;
    width: 50px;
}

#6 
{
    height: 50px;
    width: 50px;
}

#7 
{
    height: 50px;
    width: 50px;
}

#8 
{
    height: 50px;
    width: 50px;
}